/*Command Tier*/
#CommandCenterScreen
  margin -820px
  margin-top 5px
  width 1640px
  height 860px
  left 50%
  position absolute

.game-title
  position absolute
  z-index 1

.command-login
  position absolute
  z-index 1

.command-signup
  position absolute
  left 160px
  z-index 1

#CommandEmailSupport
  font 1.7em
  position absolute
  font-weight bold
  border 1px solid black
  width 820px
  height 50px
  text-align center
  top 800px
  left 410px
  color white
