/*Command Tier*/
#CommandCenterScreen {
  margin: auto;
  margin-top: 5px;
  width: 1640px;
  height: 860px;
  position: fixed;
  border: 1px black solid;
}

.game-title {
  position: absolute;
  z-index: 1;
}

.command-login {
  position: absolute;
  z-index: 1;
}

.command-signup {
  position: absolute;
  left: 160px;
  z-index: 1;
}
