.main-screen
  background url('../../../assets/img/bg/worldheatmapgrey_color2.png')
  background-size 1230px 645px
  background-repeat no-repeat
  background-color aqua
  height 645px
  left 205px
  overflow auto
  position absolute
  width 1230px
