.main-screen
  background url('../../../assets/img/bg/worldheatmapgrey_color2.png')
  background-size 1640px 860px
  background-repeat no-repeat
  background-color aqua
  position absolute
  width 1640px
  height 860px
  overflow auto

.main-screen img
  width 1640px
  height 860px
  z-index -1
