.dice
  width 85px
  height 85px
  margin 3px
  border 2px solid black
  margin 10px


.dice.operations
  background-color red
  box-shadow inset 0 0 25px black

.dice.operations.rollable
  box-shadow 0 0 25px yellow, inset 0 0 25px black

.dice.electronics
  background-color green
  box-shadow inset 0 0 25px black

.dice.electronics.rollable
  box-shadow 0 0 25px yellow, inset 0 0 25px black

.dice.stealth
  background-color yellow
  box-shadow inset 0 0 25px black

.dice.stealth.rollable
  box-shadow 0 0 25px yellow, inset 0 0 25px black

.pursuit
  background-image url('../../../../../assets/img/missions/actions/pursuit.png')
  background-size 100% 100%
  background-repeat no-repeat

.hit
  background-image url('../../../../../assets/img/missions/actions/hit.png')
  background-size 100% 100%
  background-repeat no-repeat

.close_combat
  background-image url('../../../../../assets/img/missions/actions/close_combat.png')
  background-size 100% 100%
  background-repeat no-repeat

.dice.operations.improv
  background-image url('../../../../../assets/img/missions/actions/i.png')
  background-size 100% 100%
  background-repeat no-repeat

.electronics.tap
  background-image url('../../../../../assets/img/missions/actions/tap.png')
  background-size 100% 100%
  background-repeat no-repeat

.electronics.monitor
  background-image url('../../../../../assets/img/missions/actions/monitor.png')
  background-size 100% 100%
  background-repeat no-repeat

.electronics.decipher
  background-image url('../../../../../assets/img/missions/actions/decipher.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.dice.electronics.improv
  background-image url('../../../../../assets/img/missions/actions/i.png')
  background-size 100% 100%
  background-repeat no-repeat

.stealth.puppet
  background-image url('../../../../../assets/img/missions/actions/puppet.png')
  background-size 100% 100%
  background-repeat no-repeat

.stealth.hide
  background-image url('../../../../../assets/img/missions/actions/hide.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.stealth.infiltrate
  background-image url('../../../../../assets/img/missions/actions/infiltrate.png')
  background-size 100% 100%
  background-repeat no-repeat

.dice.stealth.improv
  background-image url('../../../../../assets/img/missions/actions/i.png')
  background-size 100% 100%
  background-repeat no-repeat
