.dice {
  width 85px
  height 85px
  margin 3px
  border 2px solid black
  margin 10px
}

.dice.rollable
  box-shadow 1px 1px 2px black, 0 0 25px yellow, 0 0 5px red

.dice.operations {
  background-color red
}

.dice.electronics {
  background-color green
}

.dice.stealth {
  background-color yellow
}

.pursuit {
  background-image url('../../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.hit {
  background-image url('../../../../../assets/img/missions/actions/hit.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.close_combat {
  background-image url('../../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.dice.operations.improv {
  background-image url('../../../../../assets/img/missions/actions/improv_op.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.electronics.tap {
  background-image url('../../../../../assets/img/missions/actions/tap.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.electronics.monitor {
  background-image url('../../../../../assets/img/missions/actions/monitor.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.electronics.decipher {
  background-image url('../../../../../assets/img/missions/actions/decipher.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.dice.electronics.improv {
  background-image url('../../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.stealth.puppet {
  background-image url('../../../../../assets/img/missions/actions/puppet.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.stealth.hide {
  background-image url('../../../../../assets/img/missions/actions/hide.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.stealth.infiltrate {
  background-image url('../../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}

.dice.stealth.improv {
  background-image url('../../../../../assets/img/missions/actions/improv_st.jpg')
  background-size 100% 100%
  background-repeat no-repeat
}
