#SupportScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 2px solid black

.posts-list
  position absolute
  top 60px
  left 150px
  display block
  height 690px
  width 1340px
  overflow-x hidden
  li
    display block

.new-post
  position absolute
  display block
  border 0
  border-bottom solid 1px #ccc
  font-size 1.5em
  width 39em
  bottom 40px
  left 400px

  &:focus
    border-bottom solid 1px #777
