/*.equipment-stock*/
.equipment-stock {
  position: absolute;
  top: 480px;
  width: 270px;
  height: 320px;
  border: 1px solid slateblue;
}

.equipment-stock.operations {
  left: 140px;
}

.equipment-stock.electronics {
  left: 530px;
}

.equipment-stock.stealth {
  left: 920px;
}

.equipment-item {
  position: absolute;
  left: 10px;
  width: 230px;
  height: 80px;
}

#HiredGun, #HandyKit, #FakePassports {
  top: 20px;
}

#HeavyArms, #CustomTools, #DrugsControl {
  top: 115px;
}

#ProtectiveGear, #WPAS, #DCP {
  top: 210px;
}

.equipment-buy-btn {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 30px;
  padding: 2px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.equipment-sell-btn {
  display: inline-block;
  position: absolute;
  top: 50px;
  width: 40px;
  height: 30px;
  padding: 2px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.equipment-stock-item {
  position: absolute;
  border: 1px solid black;
  left: 50px;
  width: 80px;
  height: 80px;
  background: url('../../../assets/img/equipments/equipment_icon_256.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#HiredGun > .equipment-stock-item {
  background: url('../../../assets/img/equipments/hired_gun_256.png');
  background-color: salmon;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#HeavyArms > .equipment-stock-item {
  background: url('../../../assets/img/equipments/heavy_arms_256.png');
  background-color: salmon;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#ProtectiveGear > .equipment-stock-item {
  background: url('../../../assets/img/equipments/protective_gear_256.png');
  background-color: salmon;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#FakePassports > .equipment-stock-item {
  background: url('../../../assets/img/equipments/passports_256.png');
  background-color: gold;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#DrugsControl > .equipment-stock-item {
  background: url('../../../assets/img/equipments/drugs_control_256.png');
  background-color: gold;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#DCP > .equipment-stock-item {
  background: url('../../../assets/img/equipments/damage_control_256.png');
  background-color: gold;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#HandyKit > .equipment-stock-item {
  background: url('../../../assets/img/equipments/electronics_kit_256.png');
  background-color: darkcyan;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#CustomTools > .equipment-stock-item {
  background: url('../../../assets/img/equipments/custom_tools_196.png');
  background-color: darkcyan;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

#WPAS > .equipment-stock-item {
  background: url('../../../assets/img/equipments/WPAS_256.png');
  background-color: darkcyan;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px black;
}

.equipment-stock-counter {
  position: relative;
  border: 1px solid slateblue;
  left: 130px;
  width: 120px;
  height: 80px;
}
