.task.on-mission
  position relative
  display inline-block
  left -40px
  width 380px
  height 105px
  margin-top 30px
  margin-left 10px

/*
.task.briefing
  width 170px
  height 30px
  margin 5px
*/

.task.current
  background-color grey
  padding-top 10px
  padding-left 15px
  margin-left 0px
