.task-fieldset
  position relative
  left 20px

.task-fieldset-legend
  position absolute
  color white
  z-index 1

.task.on-mission
  position relative
  display inline-block
  left 0px
  width 380px
  height 110px
  margin-top 20px
  margin-left 10px

/*
.task.briefing
  width 170px
  height 30px
  margin 5px
*/

.task.current
  background-color rgba(0, 0, 0, 0.5)
  border-radius 1em
  border 1px inset
  padding-top 10px
  padding-left 15px
  margin-left 0px

.taskmission-checkbox
  position absolute
  height 64px
  width 64px
  top 0px
  right 0px
