.task {
  display inline-block
  width 330px
  height 105px
  margin-top 50px
  margin-left 40px
}

.task.briefing {
  width 170px
  height 30px
  margin 5px
}

.task.current {
  background-color cornflowerblue
  padding-top 10px
  padding-left 15px
  margin-left 0px
}

.task.special {
  width 165px
  height 30px
  margin 5px
}
