.agent-picture
  position absolute
  display inline-block
  top 5px
  left 35px
  z-index 10

.agent-label
  position relative
  font-weight bold
  background-color black
  z-index 11

.showcased.agent-label
  top 185px
  width 165px
  height 40px
  text-align center
  font-size 1.5em

.showcased.agent-profile
  top 20px
  left 80px
  width 168px
  height 180px

.showcased.agent-picture
  background-size 100%
  top 0px
  left 0px
