.agent-equipment-slot0
  position absolute
  width 32px
  height 32px
  left 165px
  margin-left 5px
  top 5px

.agent-equipment-slot1
  position absolute
  width 32px
  height 32px
  left 165px
  margin-left 5px
  top 40px

.agent-equipment-slot2
  position absolute
  width 32px
  height 32px
  left 165px
  margin-left 5px
  top 75px

.showcased.agent-equipment-slot0
  position absolute
  width 60px
  height 60px
  top 10px
  left 270px

.showcased.agent-equipment-slot1
  position absolute
  width 60px
  height 60px
  left 270px
  top 80px

.showcased.agent-equipment-slot2
  position absolute
  width 60px
  height 60px
  left 270px
  top 150px
