.agent-equipment-picture-placeholder
  position relative
  width 30px
  height 30px
  border-top-left-radius 2px
  border-bottom-left-radius 2px
  background-image url('../../../../assets/img/equipments/equipment_icon_256.png')
  background-size 100% 100%
  background-repeat no-repeat

.agent-equipment-picture-placeholder.FakePassports
  background-image url('../../../../assets/img/equipments/E1S.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color #e6e600
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.DrugsControl
  background-image url('../../../../assets/img/equipments/E2S.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color #e6e600
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.DCP
  background-image url('../../../../assets/img/equipments/damage_control_256.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color #e6e600
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.HandyKit
  background-image url('../../../../assets/img/equipments/electronics_kit_256.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color paleturquoise
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.CustomTools
  background-image url('../../../../assets/img/equipments/custom_tools_196.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color paleturquoise
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.WPAS
  background-image url('../../../../assets/img/equipments/WPAS_256.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color paleturquoise
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.HiredGun
  background-image url('../../../../assets/img/equipments/E1O.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color red
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.HeavyArms
  background-image url('../../../../assets/img/equipments/E2O.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color red
  box-shadow 0 0 10px black inset

.agent-equipment-picture-placeholder.ProtectiveGear
  background-image url('../../../../assets/img/equipments/E3O.png')
  background-size 100% 100%
  background-repeat no-repeat
  background-color red
  box-shadow 0 0 10px black inset
