.agent-equipment-slot0
  position absolute
  width 85px
  height 32px
  left 165px
  margin-left 5px
  top 5px

.agent-equipment-slot1
  position absolute
  width 85px
  height 32px
  left 165px
  margin-left 5px
  top 40px

.agent-equipment-slot2
  position absolute
  width 85px
  height 32px
  left 165px
  margin-left 5px
  top 75px

.agent-equipment-slot3
  position absolute
  width 85px
  height 32px
  left 165px
  margin-left 5px
  top 110px

.showcased.agent-equipment-slot
  width 100px
  height 40px
  margin-top 10px

.showcased.agent-equipment-slot0
  position absolute
  width 140px
  height 60px
  top 10px
  left 270px

.showcased.agent-equipment-slot1
  position absolute
  width 140px
  height 60px
  left 270px
  top 80px

.showcased.agent-equipment-slot2
  position absolute
  width 140px
  height 60px
  left 270px
  top 150px

.showcased.agent-equipment-slot3
  position absolute
  width 140px
  height 60px
  left 270px
  top 210px
