.login-page
  margin -820px
  margin-top 5px
  width 1640px
  height 860px
  left 50%
  position absolute
  z-index 0

.login
  position absolute
  width 280px
  height 130px
  left 630px
  top 335px
  display inline-block
  opacity 0
  zoom 1

  form
    width 20em
    border silver

  input
    width 100%
    margin .25em

  legend
    background-color black
    color silver

  button
    font-size 1.5em
    background-color silver
    color black

  .error-message
    color red
    font-weight bold

  a
    color silver

#LoginToSignup
  background-color gold
  color black
  opacity 0.5

#LoginToIntro
  position absolute
  background-color silver
  font-size 1.6em
  color black
  right 10px
  top 10px
  opacity 0.8
