.login-page
  margin -820px
  margin-top 5px
  width 1640px
  height 860px
  left 50%
  position absolute
  z-index 0

.login
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center
  position absolute
  left 630px
  top 295px
  display inline-block
  opacity 0
  zoom 1

  form
    width 20em
    border silver

  input
    background rgba(0, 0, 0, 0.5)
    width 100%
    margin .25em
    color white

  legend
    background-color black
    color silver

  button
    font-size 1em
    background rgba(0, 0, 0, 0.7)
    color silver

  .error-message
    color red
    font-weight bold
    opacity 0.9
    margin 2px
    text-shadow 1px 1px 4px black
    z-index 1

  a
    color silver
    margin 2px

#LoginToIntro
  position absolute
  background rgba(0, 0, 0, 0.5)
  font-size 1.6em
  color white
  right 10px
  top 10px
  opacity 0.8

#LoginDevNoticeButton
  position absolute
  right 10px
  bottom 20px
  background rgba(0, 0, 0, 0.5)
  color white
  font-size 1.8em
