.login-page
  margin -820px
  margin-top 5px
  width 1640px
  height 860px
  left 50%
  position absolute
  z-index 0

.login
  position absolute
  width 280px
  height 130px
  left 630px
  top 335px
  display inline-block
  opacity 0
  zoom 1

  form
    width 20em
    border silver

  input
    width 100%
    margin .25em

  legend
    background-color black
    color silver

  button
    font-size 1.5em
    background-color silver
    color black

  .error-message
    color red

  a
    color silver

.logout-button
  background-color red
  color black
  border-color silver
  text-shadow 2px 2px 8px black

.login-button
  position absolute
  width 120px
  left 0
  top 2px
  background-color silver
  color black

#LoginToSignup
  background-color gold
  color black
  opacity 0.5

#LoginToIntro
  position absolute
  background-color silver
  font-size 1.6em
  color black
  right 10px
  top 10px
  opacity 0.8
