#LoginMessage
  position absolute
  top 210px
  left 620px
  min-height 30px
  width 340px
  border 1px solid silver
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.2em
  padding 5px
  color silver
