#SignupMessage
  position absolute
  top 150px
  left 620px
  width 340px
  border 1px solid gold
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.2em
  padding 5px
  opacity 0
  color gold

  #SignupToLogin
    width 120px
    height 40px
    color black
    background-color silver
    opacity 0.5
