#SignupMessage
  position absolute
  top 170px
  left 620px
  width 340px
  // border 1px solid gold
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.2em
  padding 5px
  opacity 0
  color gold

  #SignupToLogin
    position absolute
    top 90px
    left 125px
    width 90px
    height 30px
    color yellow
    text-shadow 1px 1px gold
    opacity 0.5
    font-weight normal
    font-size 1em
    background rgba(0, 0, 50, 0.8)
    z-index 1
