#SignupMessage
  position absolute
  width 460px
  height 180px
  top 60px
  left 570px
  border 1px solid gold
  border-radius 1em
  display flex
  text-align center
  font-weight bold
  font-size 1.2em
  padding 5px
  color gold
