.signup-page
  margin -820px
  margin-top 5px
  width 1640px
  height 860px
  left 50%
  position absolute

.signup
  position absolute
  width 280px
  height 195px
  left 630px
  top 295px

  form
    width 20em
    border-color gold

  input
    width 100%
    margin .25em

  legend
    color gold

  button
    font-size 1.5em
    background-color gold
    color black

  .error-message
    color red

.signup-button
  position absolute
  font-size 1.5em
  left 10%
  margin-left -10px
  top 2px
  background-color black
  z-index 1000

#SignupToLogin
  position absolute
  top 250px
  right 650px
  color black
  background-color silver
  opacity 0.5
