#StatusesWindow
  position absolute
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center
  width 1634px
  height 854px
  background-color black
  background-image url('../../../../assets/img/bg/Dolce_vita_1.jpg')
  background-size 100% 100%
  // background-image url('../../../../assets/img/bg/sandstone.jpg')
  background-repeat no-repeat
  border-radius 2.5em
  animation animatedBackground 1s ease-out

#StatusesTierComplete
  position absolute
  top 20px
  left 295px
  width 750px
  height 500px
  border 5px solid black
  border-radius 1em
  background-color sandybrown
  font-size 1.2em
  text-align center

  button
    position absolute
    bottom 10px
    left 340px
    z-index 1

#StatusesHistoryButton
  position absolute
  left 0px
  top 0px

#StatusesTierCompleteButton
  position absolute
  left 0px
  top 100px
