#StatusesWindow
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center

.status-card
  margin 10px
  text-align center
  width 175px
  height 265px
  border-radius 1em
  background-color mintcream
  border 1px solid blue
  opacity 0.5

  div
    margin 5px
    display block

  button
    margin 5px

.status-card.owned
  opacity 1
