#StatusesWindow
  position absolute
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center
  top 160px
  height 700px
  background-image url('../../../../assets/img/bg/sandstone.jpg')

.status-card
  color #fff
  font-weight bold
  line-height 1.8
  text-shadow -1px 1px #417cb8
  margin-top 2px
  margin-left 4px
  text-align center
  width 330px
  height 202px
  border-radius 1em
  background-color mintcream
  border 1px solid blue
  opacity 0.5

  button
    color black

#StatusesWindowLabel
  position absolute
  width 200px
  height 50px
  left 570px
  top -25px
  background-color sandybrown
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

.status-card.yacht
  background-image url('../../../../assets/img/statuses/yacht.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.pacific_island
  background-image url('../../../../assets/img/statuses/pacific_island.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.racing_track
  background-image url('../../../../assets/img/statuses/racing_track.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.medieval_castle
  background-image url('../../../../assets/img/statuses/medieval_castle.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.fashion_label
  background-image url('../../../../assets/img/statuses/fashion_label.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.peerage
  background-image url('../../../../assets/img/statuses/peerage.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.art_gallery
  background-image url('../../../../assets/img/statuses/art_gallery.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.nightclub_network
  background-image url('../../../../assets/img/statuses/nightclub_network.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.seaside_resort
  background-image url('../../../../assets/img/statuses/seaside_resort.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.winter_resort
  background-image url('../../../../assets/img/statuses/winter_resort.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.pet_tiger
  background-image url('../../../../assets/img/statuses/pet_tiger.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.five_star_hotel
  background-image url('../../../../assets/img/statuses/five_star_hotel.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.golf_course
  background-image url('../../../../assets/img/statuses/golf_course.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.hunters_range
  background-image url('../../../../assets/img/statuses/hunters_range.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.status-card.private_jet
  background-image url('../../../../assets/img/statuses/private_jet.jpg')
  background-size 100% 100%
  background-repeat no-repeat

  button
    margin 5px

.status-card.owned
  opacity 1
