#AboutScreen
  position absolute
  left 50%
  margin-left -820px
  width 1640px
  height 860px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center
  border 1px black solid

#AboutMessage
  font-weight bold
  background-color silver
  border 3px solid black
  border-radius 0.5em
  padding 10px
  text-align center

#AboutBackButton
  position absolute
  font-weight bold
  top 50px
  left 30px
