#AchievementsWindow
  position absolute
  top 230px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center

.achievement-card
  display flex
  align-items center
  justify-content center
  width 175px
  height 275px
  background-color seashell
  border-radius 1em
  margin 10px
