#AchievementsWindow
  position absolute
  top 165px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center
  background-image url('../../../../assets/img/bg/black_marble.jpg')
  height 695px

.achievement-card
  display flex
  align-items center
  justify-content center
  width 175px
  height 275px
  background-color seashell
  border-radius 1em
  margin 10px
  background-image url('../../../../assets/img/bg/white_marble.jpg')
  font-weight bold
  font-size 1.6em
  text-align center
