#OperationsUpgradeDialog
  position absolute
  width 440px
  height 150px
  text-align center
  right 10px
  top 100px
  background-color grey
  border 5px solid black
  border-radius 1em
  z-index 10
