#PlayersWindow
  position absolute
  height 150px
  width 670px

#PlayerLabel
  position absolute
  left 150px
  height 150px
  width 900px

#PlayerLiquidResources
  position absolute
  right 0px
  height 150px
  width 287px

  span
    font-size 1.4em

#PlayerName
  position absolute
  height 50px
  text-align center
  font-size 2em
  min-width 200px

#PlayerPicture
  position absolute
  height 150px
  width 150px
  background-image url('../../../../assets/img/avatars/silhouette_man_256.png')
  background-size 100% 100%
  background-repeat no-repeat

button.buy10Contacts
  position absolute
  bottom 5px
  right 15px
