#PlayersWindow
  position absolute
  height 150px
  width 1340px
  // background-image url('../../../../assets/img/bg/smooth_metal.jpg')
  font-weight bold
  color ghostwhite

#PlayerAgentCard
  position absolute
  left 205px
  opacity 0.5
/*
#PlayerLabel
  position absolute
  left 150px
  height 150px
  max-width 200px
*/

#PlayerLiquidResources
  position absolute
  top 80px
  right -100px
  max-height 150px
  max-width 287px
  background-color black
  text-align right

  span
    font-size 1.1em
/*
#PlayerName
  position absolute
  height 50px
  text-align center
  font-size 2em
  min-width 200px
*/
#PlayerHelpHint
  position absolute
  bottom -655px
  left 0px
  text-align right

/*
#PlayerPicture
  position absolute
  height 150px
  width 150px
  background-image url('../../../../assets/img/avatars/silhouette_man_256.png')
  background-size 100% 100%
  background-repeat no-repeat
*/

#PlayerOperationsCapability
  position absolute
  top 5px
  right -100px
  font-size 1.25em
  background-color black

#PlayerAgentsLeadership
  position absolute
  top 35px
  right -100px
  font-size 1.25em
  background-color black

#DashboardTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  top 100px
  left 400px
  width 840px
  height 600px
  background-color honeydew
  border 5px solid black
  z-index 1011
