#PlayersWindow
  position absolute
  height 150px
  width 1340px
  font-weight bold
  color ghostwhite

#PlayerAgentCard
  position absolute
  left 355px
  opacity 0.5

#PlayerLiquidResources
  position absolute
  top 80px
  right -100px
  max-height 150px
  max-width 287px
  background-color black
  text-align right

  span
    font-size 1.1em

#PlayerHelpHint
  position absolute
  bottom -655px
  left 0px
  text-align right

#PlayerOperationsCapability
  position absolute
  top 5px
  right -100px
  font-size 1.25em
  background-color black

#PlayerAgentsLeadership
  position absolute
  top 35px
  right -100px
  font-size 1.25em
  background-color black

#DashboardTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  top 100px
  left 400px
  width 840px
  height 600px
  background-color honeydew
  border 5px solid black
  z-index 1011
