#DebugWindow
  position absolute
  width 1340px
  height 600px
  bottom 0px
  left 0px
  border 1px solid white

#SanitizeStateButton
  position absolute
  width 230px
  height 45px
  right 5px
  bottom 5px
  color black
  background-color red

#SetDefaultMissionButton
  background-color red
  position absolute
  left 10px
  bottom 10px
  width 220px
  height 30px
