#DebugWindow
  position absolute
  width 670px
  height 300px
  bottom 0px
  left 0px
  border 1px solid white

  form
    position absolute
    width 40em
    border silver

    fieldset
      position absolute

#SanitizeStateButton
  width 230px
  height 45px
  right 5px
  bottom 5px
  color black
  background-color red

#SetDefaultMissionButton
  background-color red
  left 10px
  bottom 10px
  width 220px
  height 30px
