#OptionsWindow
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center

  input
    margin 20px

  button
    background-color darkgreen
    color silver
    margin 25px
