#OptionsWindow
  position absolute
  // background-image url('../../../../assets/img/bg/smooth_metal.jpg')
  width 1340px
  height 695px
  top 15px
  color black
  animation animatedBackground 2s

  .options-form
    position absolute
    height 400px
    width 600px

    fieldset
      position absolute
      width 600px
      height 390px

      legend
        font-weight bold
        font-size 1.4em

      label
        display block
        font-weight bold
        font-size 1.2em
        width 150px

  input
    width 20px
    height 20px

  button
    margin 25px
