#OptionsWindow
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center

  input
    margin 20px

  button
    margin 25px

#RetireButton
  position absolute
  top 100px
  right 0px
