#BriefingScreen
  position absolute
  left 50%
  margin-left -820px
  width 1640px
  height 860px

#BriefingMissionShiftRight
  position absolute
  top 50px
  left 1000px
  width 0
  height 0
  border-top 50px solid transparent
  border-left 100px solid darkred
  border-bottom 50px solid transparent

#BriefingMissionShiftLeft
  position absolute
  top 50px
  left 330px
  width 0
  height 0
  border-top 50px solid transparent
  border-right 100px solid darkred
  border-bottom 50px solid transparent

#MissionsListTable
  position absolute
  top 80px
  left 1150px

  table
    text-align center
    width 300px
    border 3px solid white

    th
      height 39px
      background-color darkred
      color white
