#BriefingScreen
  position absolute
  left 50%
  margin-left -820px
  width 1640px
  height 860px
  border 1px solid darkslategrey

#BriefingMissionShiftRight
  position absolute
  top 265px
  left 1110px
  width 0
  height 0
  border-top 30px solid transparent
  border-left 60px solid darkred
  border-bottom 30px solid transparent

#BriefingMissionShiftLeft
  position absolute
  top 265px
  left 480px
  width 0
  height 0
  border-top 30px solid transparent
  border-right 60px solid darkred
  border-bottom 30px solid transparent

#BriefingMessage
  position absolute
  border 1px solid white
  left 1150px
  top 100px
  width 450px
  height 140px
  color white
