#BriefingScreen
  position absolute
  left 50%
  margin-left -820px
  width 1640px
  height 860px
  // background-color black
  background-image url('../../../assets/img/bg/briefing_room.jpg')
  animation animatedBackground 1.5s
  box-shadow inset 0 0 250px darkslateblue
  z-index 0

#BriefingMissionShiftRight
  position absolute
  top 265px
  left 1110px
  width 0
  height 0
  border-top 60px solid transparent
  border-left 40px solid darkslateblue
  border-bottom 60px solid transparent

#BriefingMissionShiftLeft
  position absolute
  top 265px
  left 500px
  width 0
  height 0
  border-top 60px solid transparent
  border-right 40px solid darkslateblue
  border-bottom 60px solid transparent

/*
#BriefingLogMessage
  position absolute
  border 1px solid white
  left 1150px
  top 100px
  width 450px
  height 140px
  color white
*/

#BriefingScreenLabel
  position absolute
  width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

#BriefingTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  top 100px
  left 400px
  width 840px
  height 600px
  background-color honeydew
  border 5px solid black
  z-index 1011

/* for $ */
#BriefingMessage
  position absolute
  font-size 2.2em
  font-weight bold
  color gold
  text-align center
  width 1040px
  top 200px
  left 820px
  z-index 10

#BriefingLiquidResources
  position absolute
  width 230px
  height 80px
  text-align center
  border 3px solid ghostwhite
  top 70px
  right 60px
  background-color black
  background rgba(0, 0, 0, 0.8)

  span
    font-weight bold
    font-size 1.2em
    color ghostwhite
