#BriefingInCountry
  position absolute
  top 20px
  left 1150px
  font-size 2em
  font-weight bold
  width 250px
  height 40px
  color darkslateblue
  background-color black

#BriefingObscurityDisplay
  color ghostwhite
  width 200px
  font-size 0.7em
