#CountryOfOperationText
  color white

#TravelToText
  position absolute
  width 170px
  left 0px
  top 47px
  color white

#CountryOfOperation.animated
  animation zoomOutRight 1.3s ease-out

#CountryOfOperation
  position absolute
  background rgba(0, 0, 0, 0.5)
  width 250px
  height 200px
  right 160px
  bottom 300px
  animation zoomInRight 1.4s

  .countryofoperation-root
    background rgba(0, 120, 240, 0.8)
    border none
    color #000
    display block
    font-weight bold
    height 30px
    line-height 1.8
    margin 10px
    padding 0 1em
    position absolute
    top 90px
    left 80px
    text-align center
    transition all 1000ms ease
    width 150px
    z-index 1000

    .countryofoperation-control
      display block
      z-index 1000

      .countryofoperation-placeholder
        display block
        z-index 1000

    .countryofoperation-menu
      box-sizing border-box
      display block
      max-height 200px
      padding 1px
      padding-right 5px
      z-index 1000

      .Dropdown-option
        background-color silver
        box-sizing border-box
        cursor pointer
        display block
        height 25px
        padding 1px
        padding-right 5px
        width 150px
        z-index 1000

.country-obscurity-counter
  position absolute
  font-weight bold
  font-size 1.5em
  color ghostwhite
  width 200px
  top 105px
  left 40px
