#CountryOfOperation
  position absolute
  left -170px
  top -50px

  .countryofoperation-root
    background-color silver
    border none
    color #000
    display block
    font-weight bold
    height 30px
    line-height 1.8
    margin 10px
    padding 0 1em
    position absolute
    left 10px
    text-align center
    transition all 1000ms ease
    top 60px
    width 150px
    z-index 1000

    .countryofoperation-control
      display block
      z-index 1000

      .countryofoperation-placeholder
        display block
        z-index 1000

    .countryofoperation-menu
      box-sizing border-box
      display block
      max-height 200px
      padding 1px
      padding-right 5px
      z-index 1000

      .Dropdown-option
        background-color silver
        box-sizing border-box
        cursor pointer
        display block
        height 25px
        padding 1px
        padding-right 5px
        width 150px
        z-index 1000
