#DashboardMissionsList
  position absolute
  left 380px
  top 25px
  text-align center
  border 1px solid black
  color ghostwhite
  font-size 1.2em
  font-weight bold

  th
    background-color black
    opacity 1
    text-align center
    min-width 50px

  td
    border 1px solid black
    background rgba(0, 0, 0, 0.5)
    font white
    opacity 1
    font-weight bold
