#DashboardMissionsList
  position absolute
  left 480px
  top 10px
  text-align center
  border 1px solid black
  color ghostwhite
  font-size 1.2em
  font-weight bold

  th
    background-color black
    opacity 1
    text-align center
    min-width 50px

  td
    border 1px solid black
    background-color black
    opacity 0.5
    font-weight bold
