#MissionAcceptForm
  position absolute
  top 10px
  left 10px
  background-color darkslategrey
  width 550px
  height 300px
  border-radius 1em

  h3
    position absolute
    left 20px

  form
    border none

    fieldset
      border none

    label
      font-weight bold
      position absolute
      top 130px
      left 45px

  #AvoidFatalsCheck
    position absolute
    top 130px
    left 25px

#MissionAcceptPriceTag
  position absolute
  left 20px
  bottom 20px
  font-weight bold
  font-size 1.5em
  color black

#MissionAcceptButton
  position absolute
  width 90px
  height 90px
  right 25px
  bottom 25px
  background-color black
  color silver

.tier-root
  background-color silver
  border none
  color #000
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 10px
  padding 0 1em
  position absolute
  left 430px
  text-align center
  transition all 1000ms ease
  top 60px
  width 100px
  z-index 1000

  .tier-control
    display block
    z-index 1000

    .tier-placeholder
      display block
      z-index 1000

  .tier-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    .Dropdown-option
      background-color red
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 100px
      z-index 1000px

.focus-root
  background-color silver
  border none
  color #000
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 10px
  padding 0 1em
  position absolute
  left 190px
  text-align center
  transition all 1000ms ease
  top 60px
  width 120px
  z-index 1000

  .focus-control
    display block
    width 120px
    z-index 1000

    .focus-placeholder
      display block
      width 100px
      z-index 1000

  .focus-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    width 200px
    z-index 1000

    .Dropdown-option
      background-color orange
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 200px
      z-index 1000px

.country-root
  background-color silver
  border none
  color #000
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 10px
  padding 0 1em
  position absolute
  left 10px
  text-align center
  transition all 1000ms ease
  top 60px
  width 160px
  z-index 1000

  .country-control
    display block
    width 120px
    z-index 1000

    .country-placeholder
      display block
      z-index 1000

  .country-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    .Dropdown-option
      background-color red
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 160px
      z-index 1000px
