#MissionsWindow
  position absolute
  top 440px
  height 420px
  width 1340px
  border 1px solid maroon
  background-image url('../../../../assets/img/bg/smooth_metal.jpg')

#MissionsWindowMessage
  position absolute
  text-align center
  bottom 15px
  left 10px
  border 1px solid white
  border-radius 1em
  width 550px
  height 80px
  color white
  font-weight bold

#MissionAcceptButtons
  position absolute
  width 200px
  height 460px

.mission-accept-button
  margin 10px
  display block

#PrisonBreakMission
  position absolute
  bottom 5px
  right 10px
  font-weight bold

#RecruitAgentButton
  position absolute
  top 20px
  right 10px

#RobBankButton
  position absolute
  top 70px
  right 10px
