#MissionsWindow
  position absolute
  top 400px
  height 260px
  width 470px
  border 1px solid maroon

#MissionAcceptButtons
  position absolute
  width 200px
  height 460px

.mission-accept-button
  margin 10px
  display block
