#MissionsWindow
  position absolute
  top 440px
  height 420px
  width 1340px
  left 150px
  // background-image url('../../../../assets/img/bg/smooth_metal.jpg')

#MissionsWindowMessage
  position absolute
  text-align center
  bottom 15px
  left 10px
  border 1px solid white
  border-radius 1em
  width 550px
  height 80px
  color white
  font-weight bold

#MissionAcceptButtons
  position absolute
  width 200px
  height 460px

.mission-accept-button
  margin 10px
  display block

#PrisonBreakMission
  position absolute
  bottom 5px
  right 10px
  font-weight bold
  color ghostwhite

#PrisonBreakMissionButton
  position absolute
  width 150px
  height 90px
  bottom 10px
  right 10px
  color black

#RecruitAgentButton
  position absolute
  width 90px
  height 90px
  top 10px
  right 10px

#RobBankButton
  position absolute
  width 90px
  height 90px
  top 10px
  right 110px

#OldDebtButton
  position absolute
  width 90px
  height 90px
  top 110px
  right 10px

#PurgeEvidenceButton
  position absolute
  width 90px
  height 90px
  top 110px
  right 110px

#SilenceRatButton
  position absolute
  width 90px
  height 90px
  top 210px
  right 110px

#InnerCircleButton
  position absolute
  width 90px
  height 90px
  top 210px
  right 10px
