#ContestWindow
  position relative
  top 400px
  left 938px
  height 440px
  width 400px
  border 1px solid orange

  table
    height 440px
    width 400px
    text-align center

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color skyblue
    color white

  td
    height 34px
