#ContestWindow
  position absolute
  height 860px
  width 1340px
  border-radius 0.5em
  background-image url('../../../../assets/img/bg/white_marble.jpg')
  font-weight bold

  table
    top 10px
    left 420px
    max-height 608px
    position absolute
    width 460px
    height 30px
    text-align center
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

  table, th, td
    border 1px solid black

  th
    height 39px
    color black

  td
    height 34px

  #RefreshContestButton
    position absolute
    color black
    background-color gold
    bottom 0px
    right 0px
