#ContestWindow
  position relative
  top 10px
  left 500px
  height 808px
  width 339px
  border 1px solid orange
  border-radius 0.5em
  overflow-y hidden
  overflow-x hidden

  table
    background azure
    max-height 608px
    position relative
    top 5px
    left 5px
    width 329px
    text-align center
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color skyblue
    color white

  td
    height 34px

  #RefreshContestButton
    position absolute
    color black
    background-color gold
    bottom 0px
    right 0px
