#TableTopTier
  position absolute
  top 0px
  left 480px
  width 580px
  height 860px
  z-index 10
  -webkit-animation-delay 5s
  animation-delay 5s
  animation animatedBackground 3s ease-in

#MissionInCountry
  position absolute
  width 20  5px
  height 20px
  text-align right
  font-size 22px
  right 0
  color gold
