.locked-dice-container
  position absolute
  width 110px
  height 110px
  bottom 230px
  right 0px
  border 5px solid orange

.locked-dice-container-help
  position absolute
  height 110px
  width 110px
  left -120px
  color ghostwhite
