#MissionEndButton
  position absolute
  border 5px solid darkred
  background-color red
  font-size 1.2em
  font-weight bold
  bottom 110px
  right 300px
  width 150px
  height 50px
  border-radius 10%
