#MissionEndButton
  position absolute
  border 5px solid darkred
  background-color red
  font-size 1.2em
  font-weight bold
  bottom 160px
  right 250px
  width 150px
  height 150px
  border-radius 50%
