#StrategicalWindow
  position absolute
  width 1634px
  height 854px
  // background-color black
  // background-image url('../../../../assets/img/bg/sandstone.jpg')
  background-repeat no-repeat
  animation fadeIn 1s ease-out

#IntermediateGoalButton
  position absolute
  top 320px
  left 20px
  width 250px
  height 90px
  background rgba(0, 0, 0, 1)
  color ghostwhite
  border-radius 0em
  font-size 2em
