#TravelWindow
  position absolute
  background-color grey
  border 3px solid black
  border-radius 1em
  left 645px
  top 350px
  width 350px
  height 150px
  z-index 110

#TravelWindowStatus
  position absolute
  width 345px
  text-align center
  font-size 1.6em
  font-weight bold
  margin 10px
