.agent-talks-profile
  width 168px
  height 180px

.agent-talk
  position relative
  display block
  border 2px solid gold
  border-radius 0.4em
  background-color red
  text-align center
  width 210px
  top -80px
  left 80px
  z-index 10

.agent-talk:before
  content ""
  position absolute
  top 100%
  left 26px
  width 0
  height 0
  border-right 13px solid transparent
  border-top 49px solid red
  border-left 13px solid transparent
