#HelpScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 2px solid black

.help-content
  position relative
  left 150px
  width 1340px
  height 858px
  overflow-x hidden
  font-weight bold
