#HelpScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px

.help-content
  position relative
  left 370px
  width 900px
  height 858px
  font-weight bold
  text-align center
  color gold
  border 1px solid gold
  border-radius 1em

.help-content::-webkit-scrollbar
  display none
