div.help-game-segments span ul li {
  background-image url('../../../assets/img/bullets/bulletpoint-transparent.jpg')
  background-repeat no-repeat
  background-position 0px center
  padding-left 45px
  padding-top 5px
  padding-bottom 5px
}
