#AgentOnMission
  position absolute
  list-style none
  top 185px
  left 0
  width 425px
  height 265px
  margin 0px
  border 2px solid darkred

#AgentOnMissionStatus
  color orangered

.agent-stat-counter
  padding 5px 5px 5px 5px
  margin 5px 5px 5px 5px
  width 10px
  height 22px

div.agent-equipment-slot
  margin-left 5px

.agent-equipment-picture-placeholder
  width 30px
  height 30px
  border-top-left-radius 2px
  border-bottom-left-radius 2px


.agent-equipment-description-placeholder
  width 50px
  height 30px
