#CountryStatsOverview
  position absolute
  top 150px
  left 1000px
  height 290px
  width 339px
  border 1px solid black
  background-image url('../../../../assets/img/bg/smooth_metal.jpg')
  padding-top 3px

  table
    height 250px
    width 339px
    text-align center

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color darkred
    color gold

  td
    height 38px
    font-weight bold
