#CountryStatsOverview
  position absolute
  top 0px
  left 1000px
  height 250px
  width 339px
  border 1px solid crimson

  table
    height 250px
    width 339px
    text-align center

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color yellow
    color white

  td
    height 34px
