#CountryStatsOverview
  position absolute
  top 150px
  left 1000px
  height 250px
  width 339px
  border 1px solid black

  table
    height 250px
    width 339px
    text-align center

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color black
    color gold

  td
    height 34px
