#MissionsLayout {
  position: absolute;
  top: 5px;
  left: 990px;
  width: 490px;
  height: 690px;
  border: 1px solid slategrey;
}

.mission-card.briefing {
  position: relative;
  width: 170px;
  height: 220px;
  margin-top: 5px;
  margin-left: 45px;
  border: 1px solid darkslateblue;
}

.mission-title.briefing {
  width: 200px;
  height: 30px;
  margin: 0px;
}

.task.briefing {
  width: 180px;
  height: 25px;
  margin: 5px;
  margin-top: 2px;
  margin-left: 20px;
}

.mission-result.loss.briefing {
  position: absolute;
  width: 85px;
  height: 30px;
  bottom: 0px;
  left: 0px;
  border: 1px solid darkred;
}

.mission-result.reward.briefing {
  position: absolute;
  width: 85px;
  height: 30px;
  bottom: 0px;
  left: 85px;
  border: 1px solid darkgreen;
}
