#ChooseCampaign
  position absolute
  border 5px black solid
  border-radius 1em
  background-color darkgrey
  width 600px
  height 600px
  top 120px
  left 520px
  font-size 1.4em
  font-weight bold
  text-align center
  z-index 10001
