#PlayerChoosesAgentClass
  position absolute
  border 5px black solid
  border-radius 1em
  background-color darkgrey
  width 600px
  height 600px
  top 120px
  left 520px
  font-size 1.4em
  font-weight bold
  text-align center
  z-index 10001

#ChooseOperative
  margin 20px
  width 150px
  height 150px
  background-color red

#ChooseTechnician
  margin 20px
  width 150px
  height 150px
  background-color darkcyan

#ChooseSpy
  margin 20px
  width 150px
  height 150px
  background-color gold
