#PlayerChoosesAvatarsClass
  position absolute
  border 5px white solid
  border-radius 1em
  background-color black
  color ghostwhite
  width 800px
  height 600px
  top 120px
  left 420px
  font-size 1.4em
  font-weight bold
  text-align center
  z-index 10

#ChooseOperative
  position absolute
  top 120px
  left 40px
  width 190px
  height 190px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em

  label
    visibility hidden
    position relative
    bottom -50px

#ChooseOperative.active
  box-shadow 0 0 50px white

  label
    visibility visible

#ChooseTechnician
  position absolute
  top 80px
  left 305px
  width 190px
  height 190px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em

  label
    visibility hidden
    position relative
    bottom -20px

#ChooseTechnician.active
  box-shadow 0 0 50px white

  label
    visibility visible

#ChooseSpy
  position absolute
  top 120px
  right 40px
  width 190px
  height 190px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em

  label
    visibility hidden
    position relative
    bottom -25px

#ChooseSpy.active
  box-shadow 0 0 50px white

  label
    visibility visible

#PlayerChoosesAvatarsClassMessage
  position absolute
  bottom 30px
  width 400px
  left 200px

#PlayerChoosesAvatarAvatarPicture
  position absolute
  bottom 100px
  left 315px

#ConfirmPlayerAgentAvatarButton
  position absolute
  bottom 20px
  right 20px
  background-color black
