#PlayerChoosesAgentClass
  position absolute
  border 5px black solid
  border-radius 1em
  background-color black
  color ghostwhite
  width 800px
  height 600px
  top 120px
  left 420px
  font-size 1.4em
  font-weight bold
  text-align center
  z-index 10011

#ChooseOperative
  width 150px
  height 150px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em

#ChooseTechnician
  margin 20px
  width 150px
  height 150px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em

#ChooseSpy
  width 150px
  height 150px
  background-color black
  border 3px solid ghostwhite
  border-radius 0.5em
