.curved-tail-arrow {
  position relative
  top 380px
  width 0
  height 0
  border-top 18px solid transparent
  border-right 18px solid blue
  transform rotate(-100deg)
}

.curved-tail-arrow:after {
  content ''
  position absolute
  border 0 solid transparent
  border-top 6px solid blue
  border-radius 40px 0 0 0
  top -24px
  left -18px
  width 24px
  height 24px
  transform rotate(45deg)
}
