.curved-tail-arrow
  position relative
  top 790px
  left 60px
  width 0
  height 0
  border-top 36px solid transparent
  border-right 36px solid grey
  transform rotate(110deg)
  z-index 10011

.curved-tail-arrow:after
  content ''
  position absolute
  border 0 solid transparent
  border-top 12px solid grey
  border-radius 80px 0 0 0
  top -48px
  left -36px
  width 48px
  height 48px
  transform rotate(45deg)
  z-index 10011
