#TutorialScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  background rgba(0, 0, 0, 0.8)

#CompleteTutorialButton
  position absolute
  top 420px
  left 700px
  width 240px
  height 90px
  color white
  background-color black
  font-size 1.5em

#TutorialToDashboardButton
  position absolute
  top 620px
  left 550px
  width 240px
  height 90px
  color ghostwhite
  background-color black
  font-size 1.5em

#TutorialAnnounce
  position absolute
  background-color grey
  border 3px solid black
  border-radius 1em
  font-size 1.3em
  max-width 1040px
  top 320px
  left 300px
  padding 50px
  z-index 11
