#TutorialScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  background rgba(255, 0, 0, 0.8)

#CompleteTutorialButton
  position absolute
  top 620px
  left 550px
  width 240px
  height 90px
  background-color darkred
  font-size 1.5em

#TutorialToDashboardButton
  position absolute
  top 620px
  left 550px
  width 240px
  height 90px
  color ghostwhite
  background-color black
  font-size 1.5em
