#CollectionWindow
  position absolute
  background rgba(255, 0, 0, 0.5)
  width 1640px
  height 860px
  animation animatedBackground 2s
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center
  font-size 1.9em
