#AgentToTalkTo
  position absolute
  top 100px
  left 500px
  width 272px
  height 224px
  border 2px solid white

  img
    position absolute
    left 100px
    bottom 0px

#DoneTalkingButton
  position absolute
  top 5px
  right 5px
