.story-box
  position absolute
  left -270px
  top 75px
  min-width 200px
  max-width 400px
  min-height 170px
  background honeydew
  border-radius 10px
  border 2px solid black
  padding 5px
  font-size 1em
  text-align center
  z-index 1001

.story-box:before
  content ""
  position absolute
  left 100%
  top 56px
  width 0
  height 0
  border-top 13px solid transparent
  border-left 39px solid red
  border-bottom 13px solid transparent
