#TalkScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 1px solid white
  animation fadeIn 1.5s

#TalkToDashboard
  position absolute
  top 620px
  left 550px
  width 240px
  height 90px
  background-color darkred
  font-size 1.5em
  color silver

#TalkEnhancementsButton
  position absolute
  top 620px
  left 250px
  width 240px
  height 90px
  background-color darkgreen
  font-size 1.5em
  color silver

#TalkScreenLabel
  position absolute
  padding-left 10px
  padding-right 10px
  min-width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 10101

#TalkAnnounce
  position absolute
  background-color grey
  border 3px solid black
  border-radius 1em
  font-size 1.3em
  max-width 1040px
  top 320px
  left 300px
  padding 50px
  z-index 101
