#LaboratoryPage

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: translateZ(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    16% {
      -webkit-transform: translateZ(100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    33% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    50% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    66% {
      -webkit-transform: translateZ(100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    83% {
      -webkit-transform: translateZ(100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    100% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
  }
  @keyframes spin {
    0% { transform: translateZ(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  }
  @-webkit-keyframes spin-duplicate {
    0% {
      -webkit-transform: translateZ(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    16% {
      -webkit-transform: translateZ(100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    33% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    50% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    66% {
      -webkit-transform: translateZ(100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    83% {
      -webkit-transform: translateZ(100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
    100% {
      -webkit-transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
    }
  }
  @keyframes spin-duplicate {
    0% { transform: translateZ(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  }
  @-webkit-keyframes roll {
      0% { -webkit-transform: translate3d(-200px,-50px,-400px) }
      12% { -webkit-transform: translate3d(0px,0,-100px) }
      25% { -webkit-transform: translate3d(200px,-50px,-400px) }
      37% { -webkit-transform: translate3d(0px,-100px,-800px) }
      50% { -webkit-transform: translate3d(-200px,-50px,-400px) }
      62% { -webkit-transform: translate3d(0px,0,-100px) }
      75% { -webkit-transform: translate3d(200px,-50px,-400px) }
      87% { -webkit-transform: translate3d(0px,-100px,-800px) }
      100% { -webkit-transform: translate3d(-200px,-50px,-400px) }
  }

  @keyframes roll {
      0% { transform: translate3d(-200px,-50px,-400px) }
      12% { transform: translate3d(0px,0,-100px) }
      25% { transform: translate3d(200px,-50px,-400px) }
      37% { transform: translate3d(0px,-100px,-800px) }
      50% { transform: translate3d(-200px,-50px,-400px) }
      62% { transform: translate3d(0px,0,-100px) }
      75% { transform: translate3d(200px,-50px,-400px) }
      87% { transform: translate3d(0px,-100px,-800px) }
      100% { transform: translate3d(-200px,-50px,-400px) }
  }
  #roll:checked ~ #platform > #dice {
      -webkit-animation: spin-duplicate 2s infinite linear;
      animation: spin-duplicate 2s infinite linear;
  }
  #roll:checked ~ #platform {
      width:100px;
      height:100px;
      transform-style: preserve-3d;
  }
  #secondroll:checked ~ #roll:checked ~ #platform > #dice,
  #secondroll:checked ~ #roll:checked ~ #platform {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
  }
  #wrapper {
      position: relative;
      width: 100px;
      padding-top: 100px;
      margin: 0 auto;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1200px;
      perspective: 1200px;
  }
  #platform {
    margin-top:50px;
  }
  #dice {
      position: absolute;
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      -webkit-perspective: 1200px;
      -webkit-backface-visibility: hidden;
      -webkit-animation: spin 25 infinite linear;
      animation: spin 25s infinite linear;
  }
  .side {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: red;
      background-repeat: no-repeat;
      background-size: 100px 100px;
      box-shadow:inset 0 0 20px #111111;
      border-radius: 20px;
  }
  .side.front {
    background-image: url('../../../assets/img/missions/actions/pursuit.jpg');
  }
  .side.top {
    background-image: url('../../../assets/img/missions/actions/hit.jpg');
  }
  .side.right {
    background-image: url('../../../assets/img/missions/actions/close_combat.jpg');
  }
  .side.left {
    background-image: url('../../../assets/img/missions/actions/improv_op.jpg');
  }
  .side.bottom {
    background-image: url('../../../assets/img/missions/actions/improv_op.jpg');
  }
  #dice .cover, #dice .inner {
      background: #101010;
      box-shadow: none;
  }
  #dice .cover {
      border-radius: 0;
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
  }
  #dice .cover.x {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
  }
  #dice .cover.z {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
  }
  #dice .front  {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
  }
  #dice .front.inner  {
      -webkit-transform: translateZ(49px);
      transform: translateZ(49px);
  }
  #dice .back {
      -webkit-transform: rotateX(-180deg) translateZ(50px);
      transform: rotateX(-180deg) translateZ(50px);
  }
  #dice .back.inner {
      -webkit-transform: rotateX(-180deg) translateZ(49px);
      transform: rotateX(-180deg) translateZ(49px);
  }
  #dice .right {
      -webkit-transform: rotateY(90deg) translateZ(50px);
      transform: rotateY(90deg) translateZ(50px);
  }
  #dice .right.inner {
      -webkit-transform: rotateY(90deg) translateZ(49px);
      transform: rotateY(90deg) translateZ(49px);
  }
  #dice .left {
      -webkit-transform: rotateY(-90deg) translateZ(50px);
      transform: rotateY(-90deg) translateZ(50px);
  }
  #dice .left.inner {
      -webkit-transform: rotateY(-90deg) translateZ(49px);
      transform: rotateY(-90deg) translateZ(49px);
  }
  #dice .top {
      -webkit-transform: rotateX(90deg) translateZ(50px);
      transform: rotateX(90deg) translateZ(50px);
  }
  #dice .top.inner {
      -webkit-transform: rotateX(90deg) translateZ(49px);
      transform: rotateX(90deg) translateZ(49px);
  }
  #dice .bottom {
      -webkit-transform: rotateX(-90deg) translateZ(50px);
      transform: rotateX(-90deg) translateZ(50px);
  }
  #dice .bottom.inner {
      -webkit-transform: rotateX(-90deg) translateZ(49px);
      transform: rotateX(-90deg) translateZ(49px);
  }

  #background {
  	position:fixed;
  	z-index:-1;
  	width:100%;
  	height:100%;
  	background: #071a1e;
  	background: -moz-linear-gradient(top, #071a1e 0%, #274249 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#071a1e), color-stop(100%,#274249));
  	background: -webkit-linear-gradient(top, #071a1e 0%,#274249 100%);
  	background: linear-gradient(to bottom, #071a1e 0%,#274249 100%);
  }

  label, input[type=checkbox]:before {
  	position: absolute;
  	overflow:hidden;
  	top:40px;
  	left:40px;
  	display:block;
  	width:120px;
  	padding-top:9px;
  	height:31px;
  	cursor:pointer;
  	text-align:center;
  	font-size:1.2em;
  	font-weight:bold;
  	color:#fff;
  	border-radius:6px;
  	border:1px solid;
  }
  input[type=checkbox]:before {
  	background:transparent;
  	border-color:transparent;
  }
  input[type=checkbox] {
  }
  label {
  	opacity:.5;
  	transition:all .3s ease;
  }
  label:hover {
  	opacity:1;
  	box-shadow:0 0 18px rgba(255,255,255,.5);
  }
  label[for=roll] {
  	z-index:1;
  	text-shadow:0 -1px 0 #006699;
  	border-color:#17C7EC;
  	background: -moz-linear-gradient(top, #0099CC 0%, #006699 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099CC), color-stop(100%,#006699));
  	background: -webkit-linear-gradient(top, #0099CC 0%,#006699 100%);
  	background: linear-gradient(to bottom, #0099CC 0%,#006699 100%);
  }
  label[for=secondroll] {
  	margin-top:-100px;
  	text-shadow:0 -1px 0 #CC0033;
  	border-color:#FF8298;
  	background: -moz-linear-gradient(top, #FF6666 0%, #CC0033 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6666), color-stop(100%,#CC0033));
  	background: -webkit-linear-gradient(top, #FF6666 0%,#CC0033 100%);
  	background: linear-gradient(to bottom, #FF6666 0%,#CC0033 100%);
  }
  #roll:checked ~ label[for=roll] {
  	margin-top:-100px;
  }
  #roll:checked ~ label[for=secondroll] {
  	margin-top:0px;
  }
  #secondroll:checked ~ label[for=secondroll] {
  	text-shadow:0 -1px 0 #336633;
  	border-color:#66FF99;
  	background: -moz-linear-gradient(top, #66CC66 0%, #336633 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66CC66), color-stop(100%,#336633));
  	background: -webkit-linear-gradient(top, #66CC66 0%,#336633 100%);
  	background: linear-gradient(to bottom, #66CC66 0%,#336633 100%);
  }
  #secondroll:checked ~ label[for=secondroll] span {
  	display:none;
  }
  #secondroll:checked ~ label[for=secondroll]:after {
  	content:"Keep rollin'!";
  }
