#PlayingDetective
  bottom 5px
  left 7px

  div
    display block
    margin 3px


#WSintriques
  bottom 5px
  left 230px

  div
    display block
    margin 3px

#Youcan\'tseeme
  bottom 5px
  left 453px

  div
    display block
    margin 3px

#BoywithanApple
  bottom 5px
  left 676px

  div
    display block
    margin 3px

#GalainOperahouse
  left 899px
  bottom 5px

  div
    display block
    margin 3px

#PuppeteeringFBI
  left 1118px
  bottom 5px

  div
    display block
    margin 3px

#Repayingthefavors
  right 6px
  top 60px

  div
    display block
    margin 3px

#WeGotthePower
  right 228px
  top 60px

  div
    display block
    margin 3px

#SideQuest
  right 450px
  top 60px

  div
    display block
    margin 3px

#AugeanStables
  right 672px
  top 60px

  div
    display block
    margin 3px

#Nostalgia
  right 894px
  top 60px

  div
    display block
    margin 3px

#DeputyofLaw
  right 1118px
  top 60px

  div
    display block
    margin 3px

#CleaningService
  top 440px
  right 5px

#ArmyLevelCrypto
  top 310px
  right 5px

#StorkInd\.
  top 185px
  right 5px

#ArmsDealer
  top 185px
  right 890px

#Laboratory
  top 310px
  right 890px

#Pharmacy
  top 440px
  right 890px

#Forger
  top 440px
  right 1113px

#Workshop
  top 310px
  right 1113px

#Locals
  top 185px
  right 1113px

.enhancement-card
  width 216px
  height 120px
  margin 2px
  background-color whitesmoke
  border-radius 1em
  opacity 0.5
  text-align center
  position absolute
  background-image url('../../../../assets/img/bg/metal_reptile.jpg')
  color white
  font-weight bold

.capability-enhancement-card
  position absolute
  top 190px
  right 232px
  width 305px
  height 360px
  margin 12px
  background-color whitesmoke
  background-image url('../../../../assets/img/bg/rusty_panel.jpg')
  border-radius 1em
  color white
  font-weight bold
  opacity 1
  text-align center

  div
    display block
    margin-top 10px
    margin-left 3px
    margin-right 3px
    margin-bottom 3px

  button
    color black

.leadership-enhancement-card
  position absolute
  top 190px
  right 558px
  width 305px
  height 360px
  margin 12px
  color whitesmoke
  font-weight bold
  background-image url('../../../../assets/img/bg/black_marble.jpg')
  border-radius 1em
  text-align center

  div
    display block
    margin-top 10px
    margin-left 3px
    margin-right 3px
    margin-bottom 3px

  button
    color black

.enhancement-card.owned
  opacity 1
