#EnhancementWindow
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center
  overflow-y hidden
  overflow-x hidden

.enhancement-card
  width 255px
  height 120px
  margin 12px
  background-color whitesmoke
  border-radius 1em
  opacity 0.5
  text-align center

  div
    display block
    margin 3px

.capability-enhancement-card
  width 255px
  height 240px
  margin 12px
  background-color whitesmoke
  border-radius 1em
  opacity 0.5
  text-align center

  div
    display block
    margin 3px

.leadership-enhancement-card
  width 255px
  height 240px
  margin 12px
  background-color whitesmoke
  border-radius 1em
  opacity 0.5
  text-align center

  div
    display block
    margin 3px

.enhancement-card.owned
  opacity 1
