#EnhancementWindow
  display flex
  flex-position row
  flex-wrap wrap
  justify-content center
  align-items center
  overflow-y hidden
  overflow-x hidden

.enhancement-card
  display flex
  justify-content center
  align-items center
  width 275px
  height 120px
  margin 5px
  background-color whitesmoke
  border-radius 1em

  div
    display block
