.action
  margin-right 10px
  background-size 100% 100%
  background-repeat no-repeat

  .actual
    width 55px
    height 55px
    border 1px solid red

  .briefing
    width 25px
    height 25px

  .mission
    width 85px
    height 85px

  .special
    width 20px
    height 20px

.empty
  background url('../../../assets/img/missions/actions/empty.jpg')

.hit
  background url('../../../assets/img/missions/actions/hit.jpg')

.pursuit
  background url('../../../assets/img/missions/actions/pursuit.jpg')

.close_combat
  background url('../../../assets/img/missions/actions/close_combat.jpg')

.tap
  background url('../../../assets/img/missions/actions/tap.jpg')

.monitor
  background url('../../../assets/img/missions/actions/monitor.jpg')

.decipher
  background url('../../../assets/img/missions/actions/decipher.jpg')

.puppet
  background url('../../../assets/img/missions/actions/puppet.jpg')

.infiltrate
  background url('../../../assets/img/missions/actions/infiltrate.jpg')

.hide
  background url('../../../assets/img/missions/actions/hide.jpg')

.improv
  .operations
    background url('../../../assets/img/missions/actions/improv_op.jpg')
.improv
  .electronics
    background url('../../../assets/img/missions/actions/improv_el.jpg')
.improv
  .stealth
    background url('../../../assets/img/missions/actions/improv_st.jpg')
