/*actions subTier*/
.action
  width 85px
  height 85px
  margin-right 10px
  border 2px solid red

.action.actual
  width 55px
  height 55px
  margin-right 10px
  border 1px solid darkred

.action.briefing
  width 25px
  height 25px
  margin-left 10px

.action.special
  width 25px
  height 25px
  margin-left 10px

.action.empty.special
  background url('../../../../assets/img/missions/actions/empty.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.monitor.special
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.monitor.actual
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.monitor.mission
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.monitor.briefing
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.pursuit.special
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.pursuit.actual
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.pursuit.mission
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.pursuit.briefing
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 25px 25px
  background-repeat no-repeat


.action.hide.special
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 20px 20px
  background-repeat no-repeat


.action.hide.actual
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 55px 55px
  background-repeat no-repeat


.action.hide.mission
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 100% 100%
  background-repeat no-repeat


.action.hide.briefing
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.decipher.special
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.decipher.actual
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.decipher.mission
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.decipher.briefing
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.improv.special
  background url('../../../../assets/img/missions/actions/improv.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.improv.actual
  background url('../../../../assets/img/missions/actions/improv.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.improv_el.actual.electronics
  background url('../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.improv.mission
  background url('../../../../assets/img/missions/actions/improv.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.improv_el.mission.electronics
  background url('../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.improv.briefing
  background url('../../../../assets/img/missions/actions/improv.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.close_combat.special
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.close_combat.actual
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.close_combat.mission
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.close_combat.briefing
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.infiltrate.special
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.infiltrate.actual
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.infiltrate.mission
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.infiltrate.briefing
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.hit.special
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.hit.actual
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.hit.mission
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.hit.briefing
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.tap.special
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.tap.actual
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.tap.mission
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.tap.briefing
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 25px 25px
  background-repeat no-repeat

.action.puppet.special
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 20px 20px
  background-repeat no-repeat

.action.puppet.actual
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.puppet.mission
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.puppet.briefing
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 25px 25px
  background-repeat no-repeat
