/*actions subTier*/
.action
  width 85px
  height 85px
  margin-right 10px
  border 2px solid red

.action.actual
  width 55px
  height 55px
  margin-right 10px
  border 1px solid darkred

.action.monitor.actual
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.monitor.mission
  background url('../../../../assets/img/missions/actions/monitor.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.pursuit.actual
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.pursuit.mission
  background url('../../../../assets/img/missions/actions/pursuit.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.hide.actual
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 55px 55px
  background-repeat no-repeat


.action.hide.mission
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.decipher.actual
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.decipher.mission
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.improv.actual.stealth
  background url('../../../../assets/img/missions/actions/improv_st.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.improv.actual.operations
  background url('../../../../assets/img/missions/actions/improv_op.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.improv_el.actual.electronics
  background url('../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.improv.mission.operations
  background url('../../../../assets/img/missions/actions/improv_op.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.improv.mission.stealth
  background url('../../../../assets/img/missions/actions/improv_st.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.improv.mission.electronics
  background url('../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.close_combat.actual
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.close_combat.mission
  background url('../../../../assets/img/missions/actions/close_combat.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.infiltrate.actual
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.infiltrate.mission
  background url('../../../../assets/img/missions/actions/infiltrate.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.hit.actual
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.hit.mission
  background url('../../../../assets/img/missions/actions/hit.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.tap.actual
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.tap.mission
  background url('../../../../assets/img/missions/actions/tap.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.puppet.actual
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 55px 55px
  background-repeat no-repeat

.action.puppet.mission
  background url('../../../../assets/img/missions/actions/puppet.jpg')
  background-size 100% 100%
  background-repeat no-repeat
