/*actions subTier*/
.action
  width 85px
  height 85px
  margin-right 5px
  border 2px solid black

.action.actual
  width 55px
  height 55px
  margin-right 10px
  border 1px solid black

.action.tap
  background-color darkgreen
  background-image url('../../../../assets/img/missions/actions/tap.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.monitor
  background-color darkgreen
  background-image url('../../../../assets/img/missions/actions/monitor.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.decipher
  background url('../../../../assets/img/missions/actions/decipher.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.pursuit
  background-color red
  background-image url('../../../../assets/img/missions/actions/pursuit.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.close_combat
  background-color red
  background-image url('../../../../assets/img/missions/actions/close_combat.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.hit
  background-color red
  background-image url('../../../../assets/img/missions/actions/hit.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.hide
  background url('../../../../assets/img/missions/actions/hide.jpg')
  background-size 100% 100%
  background-repeat no-repeat

.action.infiltrate
  background-color gold
  background-image url('../../../../assets/img/missions/actions/infiltrate.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.puppet
  background-color gold
  background-image url('../../../../assets/img/missions/actions/puppet.png')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.improv.operations
  background url('../../../../assets/img/missions/actions/improv_op.jpg')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.improv.stealth
  background url('../../../../assets/img/missions/actions/improv_st.jpg')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black

.action.improv.electronics
  background url('../../../../assets/img/missions/actions/improv_el.jpg')
  background-size 100% 100%
  background-repeat no-repeat
  box-shadow inset 0 0 25px black
