.mission-card
  display inline-block
  margin 0
  padding 0
  background-color silver

.mission-card.briefing
  list-style none
  position relative
  margin 2px
  width 190px
  height 235px
  border 2px solid black
  display inline-block
  overflow-x hidden
  overflow-y hidden

.mission-card.special
  position relative
  margin 4px
  width 190px
  height 235px
  border 2px solid black
