.mission-title
  color darkslategray
  font-weight bold
  font-size 1.1em
  text-align center
  width 548px
  height 60px
  background-color cadetblue
  border 1px solid black

.mission-title.briefing
  width 186px
  height 35px

.mission-title.special
  width 186px
  height 35px
