#TableTop
  position absolute
  top 40px
  left -60px
  width 670px
  height 620px

#TableTopDiceContainer
  position absolute
  width 670px
  min-height 300px
  display flex
  flex-wrap wrap
  flex-direction row
  align-items center
  justify-content center
  perspective 1600px
  perspective-origin right top
  // border 1px solid white

#MissionStartStatus
  position absolute
  left 140px
  top 160px
  font-size 1.3em
  font-weight bold
  color gold

#ProtectiveGearButton
  position absolute
  bottom 80px
  right 3px
  background-color blue
  color black

.taskcomplete-button
  position absolute
  width 150px
  height 50px
  border 2px solid black
  bottom 40px
  right 235px
  animation 1s pulse 2s infinite
