#TableTop
  position absolute
  width 550px
  height 550px
  margin-left 10px
  margin-top 50px
  border 2px solid maroon

#MissionStartStatus
  position absolute
  left 140px
  top 160px
  font-size 1.3em
  opacity 0.7
  color gold

.taskcomplete-button
  position absolute
  width 180px
  height 100px
  border 2px solid black
  bottom 1px
  right 185px
