#TableTop
  position absolute
  top 50px
  left 30px
  width 540px
  height 550px
  border 2px solid maroon

#MissionStartStatus
  position absolute
  left 140px
  top 160px
  font-size 1.3em
  font-weight bold
  color gold

#ProtectiveGearButton
  position absolute
  bottom 80px
  right 3px
  background-color blue
  color black

.taskcomplete-button
  position absolute
  width 180px
  height 100px
  border 2px solid black
  bottom 1px
  right 185px
  animation 1s pulse 2s infinite
