.agent-list-record.operative
  background-color black
  color red
  font-weight bold

.agent-list-record.technician
  color green
  font-weight bold

.agent-list-record.spy
  background-color black
  font-weight bold
  color gold

.agent-save-button
  color black

.agent-dismiss-button
  color black
