#AgentHireForm
  height 170px
  width 300px
  margin 10px
  padding 10px
  background darkslategrey
  border-radius 1em
  background-image url('../../../../assets/img/bg/black_paper.jpg')
  color white

  h3
    position absolute
    top 10px

  form
    border none

    fieldset
      border none

  #AgentHirePriceTag
    position absolute
    top 115px
    left 25px
    font-weight bold
    font-size 1.9em
    color white

#HireAgentButton
  background-color black
  color silver
  position absolute
  font-size 1.4em
  height 50px
  width 130px
  left 170px
  top 115px

.specialist-root
  background-color silver
  border none
  color #000
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 10px
  padding 0 1em
  position absolute
  left 120px
  text-align center
  transition all 1000ms ease
  top 60px
  width 100px
  z-index 1000

  .specialist-control
    display block
    z-index 1000

    .specialist-placeholder
      display block
      z-index 1000

  .specialist-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    .Dropdown-option
      background-color silver
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 100px
      z-index 1000px

.rank-root
  background-color silver
  border none
  color #000
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 10px
  padding 0 1em
  position absolute
  left 10px
  text-align center
  transition all 1000ms ease
  top 60px
  width 100px
  z-index 1000

  .rank-control
    display block
    z-index 1000

    .rank-placeholder
      display block
      z-index 1000

  .rank-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    .Dropdown-option
      background-color silver
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 100px
      z-index 1000px
