.agent-list-record.operative
  color gold
  font-weight bold
  background-color red

.agent-list-record.technician
  color silver
  font-weight bold
  background-color green

.agent-list-record.spy
  color black
  font-weight bold
  background-color gold
