.agent-list-record.operative
  color red
  font-weight bold
  background-color silver

.agent-list-record.technician
  color green
  font-weight bold
  background-color silver

.agent-list-record.spy
  color gold
  font-weight bold
  background-color silver
