#AgentsInPrison
  position absolute
  border 1px solid black
  width 230px
  height 200px
  top 0px
  right 240px

li.agent-in-prison
  display block
  margin-top 8px
  margin-bottom 7px

  button
    position absolute
    right 0px
    background-color green
