#AgentOnDisplay
  position absolute
  left 55px
  top 10px
  width 425px
  height 265px
  border 1px solid black

#AgentShiftLeft
  position absolute
  left 20px
  top 50px
  width 0
  height 0
  border-top 90px solid transparent
  border-right 30px solid grey
  border-bottom 90px solid transparent

#AgentShiftRight
  position absolute
  left 490px
  top 50px
  width 0
  height 0
  border-top 90px solid transparent
  border-left 30px solid grey
  border-bottom 90px solid transparent
