#AgentsInPrison
  position absolute
  border 1px solid black
  width 210px
  height 245px
  top -15px
  right 210px

li.agent-in-prison
  display block
  margin-top 8px
  margin-bottom 7px

  button
    position absolute
    right 0px
    background-color green
