#AgentOnDisplay
  position absolute
  left 505px
  top 0px
  width 425px
  height 265px
  border 1px solid black

#AgentShiftLeft
  position absolute
  left 470px
  top 20px
  width 0
  height 0
  border-top 90px solid transparent
  border-right 30px solid grey
  border-bottom 90px solid transparent

#AgentShiftRight
  position absolute
  left 940px
  top 20px
  width 0
  height 0
  border-top 90px solid transparent
  border-left 30px solid grey
  border-bottom 90px solid transparent
