.dialog-box
  left -90px
  top 55px
  width 200px
  height 170px
  background red
  position absolute
  border-radius 10px
  font-size 1.3em
  text-align center
  z-index 1001

.dialog-box:before
  content ""
  position absolute
  left 100%
  top 56px
  width 0
  height 0
  border-top 13px solid transparent
  border-left 39px solid red
  border-bottom 13px solid transparent

.dialog-box-to-talk
  position absolute
  width 85px
  height 40px
  bottom 0px
  left 0px

.dialog-box-close
  position absolute
  width 90px
  height 40px
  bottom 0px
  right 0px
