/*Mission Tracking Screen layout*/
#MissionTrackingScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 1px solid black
  // background url('../../../assets/img/missions/thumbnails/AgentInTrouble.jpg') 0px 0px / 1640px 860px no-repeat
  // background-color black
  background-size 100% 100%
  // opacity 0.5
  box-shadow inset 0 0 500px darkblue
  animation slideInLeft 1s

#MissionScreenDarkener
  position absolute
  width 1640px
  height 860px
  background-color black
  opacity 0
  z-index 1

#MissionScreenLabel
  position absolute
  margin-left -150px
  left 50%
  width 300px
  height 50px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

*,
*::before,
*::after
  box-sizing border-box

#MissionTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  padding 10px
  top 100px
  left 400px
  width 840px
  height 600px
  background rgba(150, 150, 150, 1)
  border 5px solid black
  z-index 1011
