/*Mission Tracking Screen layout*/
#MissionTrackingScreen {
  position: relative;
  width: 1640px;
  height: 860px;
  border: 1px solid black;
}

/*TaskTier*/
#TaskTier {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 330px;
  height: 860px;
  border: 1px solid yellowgreen;
}

.task {
  width: 330px;
  height: 105px;
  margin-top: 50px;
  margin-left: 40px;
}

.task.current {
  background-color: cornflowerblue;
  padding-top: 10px;
  padding-left: 15px;
  margin-left: 0px;
}

#MissionFailButton {
  margin: 10px;
  border: 3px solid violet;
}

#MissionSuccessButton {
  margin: 10px;
  border: 3px solid blue;
}

/*TableTopTier*/
#TableTopTier {
  position: absolute;
  top: 0px;
  left: 480px;
  width: 580px;
  height: 860px;
  border: 1px solid black;
}

#TableTop {
  position: relative;
  width: 550px;
  height: 580px;
  margin-left: 10px;
  margin-top: 50px;
  border: 2px solid maroon;
}

.mission-title {
  width: 548px;
  height: 60px;
  border: 2px solid grey;
}

.action-button {
  position: absolute;
  width: 180px;
  height: 100px;
  border: 5px solid darkred;
  bottom: 1px;
  right: 1px;
}

.taskcomplete-button {
  position: absolute;
  width: 180px;
  height: 100px;
  border: 2px solid black;
  bottom: 1px;
  right: 185px;
}

.probability-bar {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 160px;
  height: 100px;
  border: 5px solid red;
}
/**/

/*AgentsTier*/
#AgentsTier {
  position: absolute;
  top: 0px;
  left: 1060px;
  width: 430px;
  height: 860px;
  border: 1px solid grey;
}

#AgentScrollBarWithNavButtons.on-mission {
  left: 15px;
}

#AgentList {
  overflow: visible;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 6000px;
}

.agent-scroll-bar.on-mission {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  left: 0;
  width: 259px;
  height: 143px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.agent-card.on-mission {
  display: inline-block;
  margin-right: 5px;
  margin-left: 7px;
}

.agent-card.showcased.on-mission {
  position: absolute;
  top: 185px;
  left: 10px;
  width: 410px;
  height: 255px;
  margin: 0px;
  border: 1px solid black;
}

/**/
#AgentOnMission {
  position: absolute;
  list-style: none;
  top: 185px;
  left: 0;
  width: 425px;
  height: 265px;
  margin: 0px;
  border: 1px solid black;
}
/**/

.agent-stat-counter {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 10px;
  height: 22px;
}

.agent-picture {
  display: inline-block;
}

.agent-scroll-bar-nav-button {
  display: inline-block;
  border: 1px greenyellow solid;
  background-color: grey;
}

div.agent-equipment-slot {
  margin-left: 5px;
}

.agent-equipment-picture-placeholder {
  width: 30px;
  height: 30px;
  border: 1px solid green;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.agent-equipment-description-placeholder {
  width: 50px;
  height: 30px;
  border: 2px solid maroon;
}

#MissionEndButton {
  position: absolute;
  border: 5px solid darkred;
  bottom: 160px;
  right: 0px;
}

#SuccessButton {
  position: absolute;
  border: 5px solid greenyellow;
  bottom: 70px;
  right: 0px;
}

#TestButton {
  position: absolute;
  border: 5px solid yellow;
  bottom: 200px;
  right: 0px;
}

.escape-button {
  position: absolute;
  border: 5px solid purple;
  bottom: 0px;
  right: 0px;
}

.action-choose {
  position: absolute;
  width: 100px;
  height: 300px;
  bottom: 0px;
  left: 0px;
  border: 1px solid red;
}

.escape-protocol {
  position: absolute;
  width: 150px;
  height: 35px;
  bottom: 35px;
  right: 0px;
  border: 5px solid lavender;
}

.locked-dice-container {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 230px;
  right: 0px;
  border: 5px solid orange;
}
/**/

*,
*::before,
*::after {
  box-sizing: border-box;
}
