/*Mission Tracking Screen layout*/
#MissionTrackingScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 1px solid black

#MissionScreenLabel
  position absolute
  width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

*,
*::before,
*::after
  box-sizing border-box

#MissionTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  top 100px
  left 400px
  width 840px
  height 600px
  background-color honeydew
  border 5px solid black
  z-index 1011
