#CountryStateOverview
  position absolute
  right 160px
  top 130px
  transform rotate(-90deg)

#EndGameNotSoSecretNowIndicator
  position absolute
  width 260px
  height 3px
  background-color white
  top 257px
  left 0px

.country-obscurity-bar
  position absolute

.country-obscurity-bar-template
  margin 10px
  width 22px
  height 300px

.country-attention-level
  transform rotate(90deg)
  position absolute
  top 20px
  color white
  z-index 1

.country-obscurity-bar-countryname
  position absolute
  top 40px
  left -44px
  color red
  transform rotate(90deg)
  width 150px
