#CountryStateOverview
  position absolute
  right 200px
  top 130px
  transform rotate(-90deg)

#EndGameNotSoSecretNowIndicator
  position absolute
  width 212px
  height 3px
  background-color white
  top 257px
  left 0px

.country-obscurity-bar
  position absolute

.country-obscurity-bar-template
  margin 9px
  width 15px
  height 300px
  border-radius 5px

.country-attention-level
  transform rotate(90deg)
  position absolute
  bottom 20px
  color white
  z-index 1

.country-obscurity-bar-countryname
  position absolute
  top 40px
  left -51px
  color white
  transform rotate(90deg)
  width 150px

.country-obscurity-indicator
  position absolute
  height 12px
  width 15px
  background rgba(33, 33, 33, 0.9)
  border 1px solid black
  border-radius 100%
