#DashboardScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px

#DashboardContent
  position absolute
  width 1340px
  height 860px
  left 150px
  background-color black
  border-radius 0.5em

#DashboardScreenLogout
  position absolute
  right 10px
  bottom 10px
  width 120px
  height 50px
  font-size 1.4em

.hide-show-button
  position absolute
  left 550px
  top 0
  width 120px
  height 30px

.dashboardscreen-pointer
  position absolute
  left 1490px
  width 150px
  height 50px
  text-align center

#DashboardScreenLabel
  position absolute
  width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

#ToPayments
  position absolute
  width 75px
  height 35px
  right 10px
  bottom 100px
