#DashboardScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  // background-image url('../../../assets/img/bg/test_background4.jpg')
  background-image url('../../../assets/img/bg/dashboard.jpg')
  background-size 100% 100%
  border 3px grey solid
  box-shadow inset 0 0 50px grey
  animation fadeIn 1.5s

#DashboardScreenLogout
  position absolute
  right 10px
  bottom 10px
  width 120px
  height 50px
  font-size 1.4em

#DashboardMessage
  position absolute
  font-size 2.2em
  font-weight bold
  color gold
  text-align center
  max-width 640px
  top 320px
  left 1000px
  z-index 101

#DashboardAnnounce
  position absolute
  background-color grey
  border 3px solid black
  border-radius 1em
  font-size 1.3em
  max-width 1040px
  top 320px
  left 300px
  padding 50px
  z-index 101

.hide-show-button
  position absolute
  left 550px
  top 0
  width 120px
  height 30px

.dashboardscreen-pointer
  position absolute
  left 1490px
  width 150px
  height 50px
  text-align center
  margin 5px
  font-weight bold
  font-size 1.2em

#DashboardScreenLabel
  position absolute
  padding-left 10px
  padding-right 10px
  min-width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 10101

#SkipIntroButton
  position absolute
  width 160px
  height 50px
  left 20px
  bottom 20px
  color white
  background-color black
  font-size 1.1em

#NewGameStart
  position absolute
  width 600px
  height 300px
  border 1px solid red
  left 520px
  top 60px
  font-size 1.3em
  font-weight bold
  text-align center
  color red
