#DashboardScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px

#DashboardContent
  position absolute
  width 1340px
  height 860px
  left 150px
  background-color lightgrey
  border-radius 0.5em

#DashboardScreenLogout
  position absolute
  right 10px
  bottom 10px
  width 120px
  height 50px
  font-size 1.4em

.hide-show-button
  position absolute
  left 550px
  top 0
  width 120px
  height 30px

.set-default-button
  background-color red
  position absolute
  left 10px
  bottom 10px
  width 180px
  height 30px

.dashboardscreen-pointer
  position absolute
  left 1490px
  width 150px
  height 50px
  text-align center
