button
  position relative

div.dashboard-item
  position static
  width 790px
  height 260px
  margin 10px
  text-align center
  border 1px solid darkorange

#CommandDashboardScreen
  position absolute
  width 1640px
  height 860px
  left 50%
  margin-left -820px
  border 1px solid red

#CountryStatsOverview
  position absolute
  top 150px
  left 1000px
  height 250px
  width 339px
  border 1px solid crimson

  table
    height 250px
    width 339px
    text-align center

  table, th, td
    border 1px solid black

  th
    height 39px
    background-color yellow
    color white

  td
    height 34px

#DashboardContent
  position relative
  left 150px
