#ToAchievements
  top 250px
  color gold

#ToContest
  top 200px
  color silver

#ToEnhancements
  top 300px
  color gold

#ToLog
  top 150px
  color silver

#ToOptions
  top 350px
  color red

#ToStatuses
  top 400px
  color gold

#ToStrategical
  top 450px
  color gold

#ToCollection
  top 500px
  color orangered
