#ToAchievements
  top 150px
  color gold

#ToContest
  top 300px
  color silver
  font-size 0.8em

#ToEnhancements
  top 200px
  color silver

#ToLog
  top 250px
  color silver
  font-size 0.8em

#ToOptions
  top 350px
  color silver
  font-size 0.8em

#ToStatuses
  top 400px
  color gold

#ToStrategical
  position absolute
  top 25px
  left 1550px
  color gold
  cursor pointer

#ToCollection
  top 450px
  color orangered
