#StrategicalIntro
  position absolute
  top 100px
  left 300px
  width 600px
  height 400px
  text-align center
  font-size 1.2em
  border 5px solid black
  border-radius 1em
  background-color darkgrey
  z-index 1001

#StrategicalIntroShownButton
  position absolute
  bottom 20px
  left 195px
  z-index 1001
