#SalesPitch
  position absolute
  display flex
  flex-wrap wrap
  flex-direction row
  align-items center
  justify-content center
  top 200px
  left 500px
  width 640px
  height 460px
  font-size 1.2em
  text-align center
  color white
  padding 20px
  background rgba(0, 0, 0, 0.9)
  z-index 1

  li
    list-style-type none
    padding 15

  .sales-pitch-close-handle
    position absolute
    top 10px
    right 10px
    width 30px
    height 30px
    border-radius 100%
    background rgba(255, 0, 0, 0.9)
