#LaboratoryPage

  #roll:checked ~ #platform > #dice {
      animation: spin-duplicate 2s infinite linear;
  }
  #roll:checked ~ #platform {
      width:100px;
      height:100px;
      transform-style: preserve-3d;
  }
  #secondroll:checked ~ #roll:checked ~ #platform > #dice,
  #secondroll:checked ~ #roll:checked ~ #platform {
      animation-play-state: paused;
  }
  #wrapper {
      position: relative;
      width: 100px;
      padding-top: 100px;
      margin: 0 auto;
      perspective: 1200px;
  }
  #platform {
    margin-top:50px;
  }
  #dice {
      position: absolute;
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      animation: spin 25s infinite linear;
  }
  .side {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: red;
      background-repeat: no-repeat;
      background-size: 100px 100px;
      box-shadow:inset 0 0 20px #111111;
      border-radius: 20px;
  }
  .side.front {
    background-image: url('../../../assets/img/missions/actions/pursuit.png');
  }
  .side.top {
    background-image: url('../../../assets/img/missions/actions/hit.png');
  }
  .side.right {
    background-image: url('../../../assets/img/missions/actions/close_combat.png');
  }
  .side.left {
    background-image: url('../../../assets/img/missions/actions/improv.png');
  }
  .side.bottom {
    background-image: url('../../../assets/img/missions/actions/improv.png');
  }
  #dice .cover, #dice .inner {
      background: #101010;
      box-shadow: none;
  }
  #dice .cover {
      border-radius: 0;
      transform: translateZ(0px);
  }
  #dice .cover.x {
      transform: rotateY(90deg);
  }
  #dice .cover.z {
      transform: rotateX(90deg);
  }
  #dice .front  {
      transform: translateZ(50px);
  }
  #dice .front.inner  {
      transform: translateZ(49px);
  }
  #dice .back {
      transform: rotateX(-180deg) translateZ(50px);
  }
  #dice .back.inner {
      transform: rotateX(-180deg) translateZ(49px);
  }
  #dice .right {
      transform: rotateY(90deg) translateZ(50px);
  }
  #dice .right.inner {
      transform: rotateY(90deg) translateZ(49px);
  }
  #dice .left {
      transform: rotateY(-90deg) translateZ(50px);
  }
  #dice .left.inner {
      transform: rotateY(-90deg) translateZ(49px);
  }
  #dice .top {
      transform: rotateX(90deg) translateZ(50px);
  }
  #dice .top.inner {
      transform: rotateX(90deg) translateZ(49px);
  }
  #dice .bottom {
      transform: rotateX(-90deg) translateZ(50px);
  }
  #dice .bottom.inner {
      transform: rotateX(-90deg) translateZ(49px);
  }

  #background {
  	position:fixed;
  	z-index:-1;
  	width:100%;
  	height:100%;
  	background: #071a1e;
  	background: linear-gradient(to bottom, #071a1e 0%,#274249 100%);
  }

  label, input[type=checkbox]:before {
  	position: absolute;
  	overflow:hidden;
  	top:40px;
  	left:40px;
  	display:block;
  	width:120px;
  	padding-top:9px;
  	height:31px;
  	cursor:pointer;
  	text-align:center;
  	font-size:1.2em;
  	font-weight:bold;
  	color:#fff;
  	border-radius:6px;
  	border:1px solid;
  }
  input[type=checkbox]:before {
  	background:transparent;
  	border-color:transparent;
  }
  input[type=checkbox] {
  }
  label {
  	opacity:.5;
  	transition:all .3s ease;
  }
  label:hover {
  	opacity:1;
  	box-shadow:0 0 18px rgba(255,255,255,.5);
  }
  label[for=roll] {
  	z-index:1;
  	text-shadow:0 -1px 0 #006699;
  	border-color:#17C7EC;
  	background: linear-gradient(to bottom, #0099CC 0%,#006699 100%);
  }
  label[for=secondroll] {
  	margin-top:-100px;
  	text-shadow:0 -1px 0 #CC0033;
  	border-color:#FF8298;
  	background: linear-gradient(to bottom, #FF6666 0%,#CC0033 100%);
  }
  #roll:checked ~ label[for=roll] {
  	margin-top:-100px;
  }
  #roll:checked ~ label[for=secondroll] {
  	margin-top:0px;
  }
  #secondroll:checked ~ label[for=secondroll] {
  	text-shadow:0 -1px 0 #336633;
  	border-color:#66FF99;
  	background: linear-gradient(to bottom, #66CC66 0%,#336633 100%);
  }
  #secondroll:checked ~ label[for=secondroll] span {
  	display:none;
  }
  #secondroll:checked ~ label[for=secondroll]:after {
  	content:"Keep rollin'!";
  }
