.mission-card.actual {
  position: relative;
  top: 5px;
  left: 440px;
  width: 550px;
  height: 690px;
  border: 2px solid tan;
}

.task.actual {
  position: static;
  margin: 25px;
  width: 200px;
}

.mission-result.loss.actual {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 274px;
  height: 75px;
  border: 1px solid darkred;
}

.mission-result.reward.actual {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 274px;
  height: 75px;
  border: 1px solid darkgreen;
}
