.mission-card.actual
  position relative
  top 15px
  left 0px
  width 550px
  height 680px
  border 2px solid black

.mission-title.actual
  font-size 2.5em
  text-align center

.task.actual
  position static
  margin 15px
  margin-right 35px
  width 200px
