.agent-assignment {
  position: absolute;
  list-style: none;
  width: 265px;
  height: 150px;
  margin: 3px;
  border: 1px solid darkslategrey;
}

#AgentAssignment1 {
  top: 300px;
  left: 5px;
}

#AgentAssignment2 {
  top: 300px;
  left: 275px;
}

#AgentAssignment3 {
  top: 455px;
  left: 5px;
}

#AgentAssignment4 {
  top: 455px;
  left: 275px;
}
