#ActualMissionThumbnail
  position absolute
  width 550px
  height 255px

#MissionDescription
  position absolute
  width 550px
  height 100px
  background-color grey
  font-weight bold
  font-size 1.2em
  padding-left 10px
  padding-right 8px
  padding-top 11px
  bottom 0px
  left 0px
  text-align center
