#ActualMissionThumbnail
  position absolute
  width 550px
  height 255px

#MissionDescription
  position absolute
  width 550px
  height 50px
  background-color grey
  font-weight bold
  bottom 0px
  left 0px
  text-align center
