#ABigScreenIntro
  position absolute
  left 0px
  top 0px
  width 1640px
  height 860px
  background-image url('../../../assets/img/intro/bigscreen1.jpg')
  background-size 100% 100%
  background-repeat no-repeat

#ABigScreenContinueMessage
  position absolute
  color ghostwhite
  font-weight bold
  font-size 1.2em
  left 750px
  bottom 10px
  z-index 1

#LoginBigScreenButton
  position absolute
  left 10px
  top 100px
  background-color grey
  font-size 1.3em
  border 3px solid black
