#IntroScreen
  position absolute
  left 50%
  margin-left -500px
  width 1000px
  border 1px solid white
  border-radius 1em
  text-align center
  padding 5px
  color gold

#IntroToLogin
  position absolute
  top 30px
  left 100px
  background-color darkblue
