#IntroScreen
  position absolute
  left 50%
  margin-left -300px
  width 600px
  height 900px
  border 1px solid white
  border-radius 1em
  text-align center
  padding 5px

#IntroToLogin
  position absolute
  top 30px
  left 100px
  background-color darkblue
