.get-more-missions.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)

.get-more-missions
  font-size 0.8em

#GetMoreMissions.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)
