@keyframes expandInLeft {
  from {
    width: 320px
    height: 0
  }
  to {
    width: 320px
    height: 470px
  }
}

#IntermediateGoal
  position absolute
  max-width 320px
  top 40px
  left 40px
  background rgba(0, 0, 0, 1)
  border 3px solid ghostwhite
  color ghostwhite
  font-size 1.3em
  font-weight bold
  overflow hidden
  animation expandInLeft 1.5s
  transform rotate(-15deg) skew(-10deg)

#FirstMissionGoal.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)

#AgentRankFour.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)

#OperationsLevelThree.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)

#LoyalCrewGoal.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)

#DolceVitaGoal.done
  text-decoration line-through
  color rgba(125, 125, 125, 0.5)
