#IntermediateGoal
  position absolute
  max-width 300px
  top 65px
  left 10px
  background rgba(0, 0, 0, 1)
  border 3px solid ghostwhite
  color ghostwhite
  font-size 1.3em
  font-weight bold

#FirstMissionGoal.done
  text-decoration line-through
  color red

#AgentRankFour.done
  text-decoration line-through
  color red

#OperationsLevelThree.done
  text-decoration line-through
  color red

#LoyalCrewGoal.done
  text-decoration line-through
  color red

#DolceVitaGoal.done
  text-decoration line-through
  color red
