#IntermediateGoal
  position absolute
  max-width 300px
  top 65px
  left 10px
  background-color grey
  border 3px solid black
  border-radius 1em
  font-size 1.4em

  #FirstMissionGoal.done
    text-decoration line-through

  #AgentRankFour.done
    text-decoration line-through

  #OperationsLevelThree.done
    text-decoration line-through

  #LoyalCrew.done
    text-decoration line-through

  #DolceVitaGoal.done
    text-decoration line-through
