#AgentInArmory
  position absolute
  background rgba(0, 0, 0, 0.5)
  list-style none
  padding-top 8px
  padding-left 8px
  top 185px
  left 484px
  width 525px
  height 335px
  border 2px solid ghostwhite
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center

  .agent-card
    opacity 1

#AgentInArmoryStatus
  color ghostwhite
  opacity 0.7
  font-weight bold
  font-size 2.5em
  position absolute
  top 60px
  left 25px

#AgentInArmoryToMission
  position absolute
  top 200px
  left 920px
  z-index 1001

#BackFromArmory
  position absolute
  top 240px
  left 940px
  z-index 1001

#UnequipAll
  position absolute
  top 280px
  left 930px
  z-index 1001
