.armory-code
  width 20px
  height 20px
  border-radius 10px

#ArmoryCodeRed
  position absolute
  top 5px
  left 5px
  background rgba(255, 0, 0, 0.8)

#ArmoryCodeYellow
  position absolute
  top 5px
  left 35px
  background-color yellow

#ArmoryCodeGreen
  position absolute
  top 5px
  left 65px
  background-color green
