#ArmoryScreen
  position absolute
  left 50%
  margin-left -820px
  width 1634px
  height 854px
  border 1px black solid
  background-color black
  background-image url('../../../assets/img/bg/armory_bg.jpg')
  background-size 100% 100%
  animation fadeIn 1s
  // border 3px solid tan
  // box-shadow inset 0 0 50px tan

#ArmoryScreenLabel
  position absolute
  width 200px
  height 50px
  left 720px
  top -25px
  background-color grey
  border 5px solid black
  border-radius 1em
  text-align center
  font-weight bold
  font-size 1.5em
  z-index 1001

#ArmoryTutorial
  position absolute
  text-align center
  font-size 1.2em
  font-weight bold
  top 100px
  left 400px
  width 840px
  height 600px
  padding 10px
  background rgba(180, 140, 40, 0.8)
  border 5px solid black
  z-index 1011

#ArmoryMessage
  position absolute
  font-size 2.2em
  font-weight bold
  color gold
  text-align center
  width 640px
  top 220px
  left 990px
  z-index 10

#AgentTalk
  position absolute
  top 130px
  left 405px
  width 250px
  height 166px
  border 5px solid black
  border-radius 1em
  background-color ghostwhite
  font-size 1.2em
  text-align center
  z-index 1011

  button
    position absolute
    bottom 10px
    left 80px

#ArmoryAnnounce
  position absolute
  background-color grey
  border 3px solid black
  border-radius 1em
  font-size 1.3em
  max-width 1040px
  top 320px
  left 300px
  padding 50px
  z-index 101
