#FacilityUpgradeDialog
  position absolute
  width 270px
  height 240px
  left 210px
  font-size 1.3em
  font-weight bold
  text-align center
  background-color grey
  border 5px solid black
  border-radius 1em
  z-index 10

  .enhancement-buy-button
    position absolute
    bottom 10px
    left 30px

  .close-facility-upgrade-dialog
    position absolute
    bottom 10px
    right 20px
