.Dropdown-root
  background rgba(0, 0, 0, 0.9)
  border 1px solid black
  color white
  display block
  font-weight bold
  height 30px
  line-height 1.8
  margin 0 10px 0 0
  padding 0 1em
  position absolute
  right 10px
  text-align center
  transition all 1000ms ease
  top 200px
  width 100px
  z-index 100

  div.Dropdown-control
    display block
    z-index 1000

    div.placeholder
      display block
      z-index 1000

  div.Dropdown-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    div.Dropdown-option
      background rgba(0, 0, 0, 0.9)
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 100px
      z-index 1000
