.Dropdown-root
  background-color aliceblue
  border none
  border-radius 1em
  color #000
  display block
  font-weight bold
  height 25px
  line-height 1.8
  margin 0 10px 0 0
  padding 0 1em
  position absolute
  right 10px
  text-align center
  transition all 1000ms ease
  top 100px
  width 100px
  z-index 100

  div.Dropdown-control
    display block
    z-index 1000

    div.placeholder
      display block
      z-index 1000

  div.Dropdown-menu
    box-sizing border-box
    display block
    max-height 200px
    padding 1px
    padding-right 5px
    z-index 1000

    div.Dropdown-option
      background-color aliceblue
      border-radius 1em
      box-sizing border-box
      cursor pointer
      display block
      height 25px
      padding 1px
      padding-right 5px
      width 100px
      z-index 1000
