.nav-tab
  position absolute
  width 820px
  height 50px
  top -10px
  left 50%
  margin-left -410px
  padding-left 5%
  padding-right 5%
  z-index 100

  ul
    li
      a
        color black
        font-size 1.2em
        font-weight bold

.logout
  position absolute
  width 140px
  left 0
  top 2px

.logout-button
  background-color red

.login-button
  position absolute
  width 120px
  left 0
  top 2px
  background-color royalblue

.signup-button
  position absolute
  width 120px
  left 10%
  margin-left -10px
  top 2px
  background-color gold
