.agent-scroll-bar-nav-button.left
  width 60px
  height 134px
  position relative
  display inline-block
  background-image url('../../../../assets/img/buttons/navigation-left-button.png')
  background-size 60px 134px
  background-repeat no-repeat

.agent-scroll-bar-nav-button.right
  width 60px
  height 134px
  position relative
  display inline-block
  background-image url('../../../../assets/img/buttons/navigation-right-button.png')
  background-size 60px 134px
  background-repeat no-repeat
