#AgentScrollBarWithNavButtons
  position absolute
  padding 0
  top 25px
  left 350px
  width 924px
  height 153px

  .agent-scroll-bar-nav-button
    z-index 1001

#AgentScrollBarWithNavButtons.briefing
  position absolute
  top 700px
  left 405px
  margin 5px
