#AgentScrollBarWithNavButtons {
  position absolute
  padding 0
  top 15px
  left 108px
  width 1120px
  height 153px
}

#AgentScrollBarWithNavButtons.briefing {
  position absolute
  top 700px
  left 260px
  margin 5px
}
