.agent-scroll-bar-nav-button.left
  margin-right 5px
  width 60px
  height 134px
  position relative
  display inline-block
  border-top 67px solid transparent
  border-right 40px solid darkslateblue
  border-bottom 67px solid transparent
  z-index 1001

.agent-scroll-bar-nav-button.right
  margin-left 5px
  width 60px
  height 134px
  position relative
  display inline-block
  border-top 67px solid transparent
  border-left 40px solid darkslateblue
  border-bottom 67px solid transparent
  z-index 1001

.agent-scroll-bar-nav-button.right.on-mission
  border-left 40px solid darkred

.agent-scroll-bar-nav-button.left.on-mission
  border-right 40px solid darkred
