#AgentList
  position relative
  overflow visible
  margin 0
  padding 0
  left 0
  top 0
  width 6000px
  height 146px

#AgentListPlaceholder
  color silver
  font-size 2em
  font-weight bold

.agent-scroll-bar
  list-style none
  display inline-block
  margin 0
  padding 0
  left 0
  width 790px
  height 146px
  overflow-x hidden
  overflow-y hidden
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none
  -o-user-select none

.agent-scroll-bar.on-mission
  list-style none
  display inline-block
  margin 0
  padding 0
  left 0
  width 266px
  height 145px
  overflow-x hidden
  overflow-y hidden
