#AgentList
  position relative
  overflow visible
  margin 0
  padding 0
  left 0
  top 0
  width 6000px
  height 146px

.agent-scroll-bar
  list-style none
  display inline-block
  margin 0
  padding 0
  left 0
  width 1055px
  height 146px
  overflow-x hidden
  overflow-y hidden

.agent-scroll-bar.on-mission
  list-style none
  display inline-block
  margin 0
  padding 0
  left 0
  width 259px
  height 143px
  overflow-x hidden
  overflow-y hidden
